.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #e3eaa7;
    font-family: 'Lobster', cursive;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 whitesmoke;
    font-size: 7rem;
    color:#2a6592;
  }
  
  p {
    font-size: 2rem;
    color: #86af49;
    font-family: 'Lobster', cursive;
  }
  
  img {
    width: 60%;
  }
  